
.hidden  {
    display: none
}

*{
	margin: 0;
	padding:0;
	border: 0;
}

body {
    background-color: black;
	font-size: 100%
}

/* NAVIGATION BAR STYLES */

.navbar .container-fluid{
	
}

.navbar-default .container-fluid {
  background-color: orange;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  width: 100%;
}

.navbar-default{
	border:0;
	min-height: 50px;
}

.navbar-default a:not(#nameD):not(#view_prof):not(#logout) {
  text-transform: uppercase;
  font-size: 1.1em;
}

.navbar-default a {
  font-size: 1.3em;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-header > a:hover  {
color: white;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-header > a{
color: black;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: black; 
background-color: #EE7600;
}

.navbar-default div.navbar-collapse {
    border-top:0;
}

.navbar-nav li{
	text-align:center;
}

#toggle_button{
	background-color: orange;
	border:0;
	border-radius: 0;
}

#toggle_button:hover{
	background-color: #EE7600;
	border:0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

@media only screen (height: 736px) and (width: 414px) {
	
 }

/* END OF NAVIGATION BAR STYLES */

/* MAIN PAGE STYLES */

.main  {
	margin-top: 20vh;
	font-family: 'Exo 2', sans-serif;
}

.main :not(.check) > input {
	color: orange;
	background-color: black;
	border: .1em solid rgb(229 , 148 , 0);
}

input {
	-webkit-border-radius:0px;
}


.main h1 {
	color: orange;
	font-size: 8em;
	text-align: center;
}

#welcomemessage {
  text-align:center;
  color: orange;
} 


/* END OF MAIN SECTION STYLES */

/* FIRST HEADER STYLES */

.firstbar {
	font-family: 'Open Sans', sans-serif;
	color: orange;
	margin-top: 5em;
}

.firstbar h1 {
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}



.firstbar a {
	color: orange;
}

table{
	margin-top: 2em;
	margin-bottom: 2em;
}

th,td {
    padding: .3em;
}

#loading{
	width: 100%;
	position: fixed;
	top: 45%;
	text-align: center;
	color: orange;
	font-family: 'Exo 2', sans-serif;
}


/* END OF FIRST HEADER STYLES */

/* TABLE STYLES */

table, th, td {
    border: 1px solid white;
	border-collapse: collapse;
	font-size: 1.4em;
	text-align: center;
	
}

.report_table{
	margin-top: 2em;
	margin-bottom: 2em;
	border-color: white;
	color: #CCCCCC;
	width: 25em;
	
}


th,td {
    padding: .3em;
}

.odd_row {
	background-color: #303030;
}

.current_match{
	background-color: orange;
	color: black;
	line-height: 6vh;
}

.current_match a{
	color: black;
}

.current_match:hover {
	background-color: #EE7600;
}

.table_hover{
	color: white;
	cursor: pointer;
}

#r1, #r2, #r3{
	background-color: #B80000;
}
#rh {
	background-color: #760000;
}
#b1, #b2, #b3{
	background-color: #0029A3;
}
#bh {
	background-color: #001962;
}



/* END OF TABLE STYLES */


/* LOGIN PAGE STYLES */

#login_form {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align:center;
}

#login_button {
	height:2.2em;
	width: 12.3em;
	color: black;
	text-align: center;
	font-size: 2em;
	background-color: orange;
	margin-top:.3em;
}

.check {
	font-size: 2em;
	font-weight: bold;
	color: orange;
	font-weight: 300;
	margin-top: .3em;
	margin-left: auto;
	margin-right: auto;
	width: 12.3em;
	text-align: left;
}

#check_box{
	height:1.2em;
	width: 1.2em;
	border:none;
}


#username{
	height:2.2em;
	width: 11.15em;
	text-align: center;
	font-size: 2.2em;
	border-bottom:none;
	
}

#password{
	height:2.2em;
	width: 11.15em;
	text-align: center;
	font-size: 2.2em;
}

::-webkit-input-placeholder { 
    color: rgb(229 , 148 , 0);
	opacity:0.8;
}
:-moz-placeholder {
   color: rgb(229 , 148 , 0);
   opacity:0.8;
}
::-moz-placeholder { 
   color: rgb(229 , 148 , 0);
   opacity:0.8;
}
:-ms-input-placeholder {
   color: rgb(229 , 148 , 0);
   opacity:0.8;
}

input:focus {
    outline-width: 0;
}

.login_wrapper{
	margin-top: 30vh;
	-webkit-border-radius:0px;
	color: orange;
	background-color: black;
}

.login_wrapper  input{
	border: .1em solid orange;
	background-color:black;
}

/* END OF LOGIN PAGE STYLES */


/* REPORT SCREEN STYLES */

.report h2 {
	display: inline;
	color: orange;
	font-family: 'Exo 2', sans-serif;

}

div.report{
	margin-top: 7em;
	text-align: center;
}

.report_table{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.report_area{
	margin-top: 1.45em;
	width: 17.5em;
	height: 8.1em ;
	font-size: 2em;
	background-color: #C0C0C0;
	padding: 0.2em;
}
.report_area::-webkit-input-placeholder {
	 color: gray;
	opacity:0.8;
}
.report_area:-moz-placeholder {
	 color: gray;
	opacity:0.8;
}
.report_area::-moz-placeholder { 
	 color: gray;
	opacity:0.8;
}
.report_area:-ms-input-placeholder {
	 color: gray;
	opacity:0.8;
}



/* END OF REPORT SCREEN STYLES */

/* SETTINGS SCREEN STYLES */

div.settings_list{
	margin-top: 4em;
	margin-left: -1.5em;
	color: orange;
	font-family: 'Exo 2', sans-serif;
	display: block;
	text-align: center;
}
.settings_box::-webkit-input-placeholder { 
    color: gray;
	opacity:0.8;
	font-weight: bold;
}
.settings_box:-moz-placeholder {
   color: gray;
   opacity:0.8;
   font-weight: bold;
}
.settings_box::-moz-placeholder { 
   color: gray;
   opacity:0.8;
   font-weight: bold;
}
.settings_box:-ms-input-placeholder {
   color: gray;
   opacity:0.8;
   font-weight: bold;
}

.settings_list > .text_input{
	color: black;
	width: 9.5em;
	height: 2em;
	margin-top: .5em;
	font-size: 2em;
	font-weight: bold;
	background-color: #C0C0C0;
	padding: .2em;
}

.settings_list > .button_input{
	color: black;
	width: 4em;
	height: 2em;
	margin-top: .5em;
	font-size: 2em;
	font-weight: bold;
	background-color: gray;
}

.button_hovered{
	background-color: #EE7600 !important;
	cursor: pointer;
}

.button_hovered_report{
	background-color: white !important;
	cursor: pointer;
	color: black;
}

#settings_table{
margin-top: 3em;
}

/* END OF SETTINGS SCREEN STYLES */


@media screen and (max-width: 420px){
	.main h1 {
		font-size: 19vw;
	}
	#welcomemessage {
		font-size: 6vw;
	} 
	.navbar-default .container-fluid {
	}
	
}

@media screen and (max-width: 623px){
	.matches_table{
		font-size: 2vw !important;
		line-height: 4vh;
	}
	
}

@media screen and (max-width: 408px){
	.teams_table{
		width: 90% !important;
	}
	
	.report_table{
		width: 98% !important;
	
}
}


	