@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo_2/Exo2-ExtraLight.ttf')  format('truetype');
 }
 @font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo_2/Exo2-Regular.ttf')  format('truetype');
    font-weight: bold;
 }
.hidden  {
    display: none; /* hides elements under class "hidden" (not to be changed)  */
}

*{
	margin: 0em; /* removes default margins of HTML elements (not to be changed) */
	padding:0em; /* removes default paddings of HTML elements (not to be changed) */
	border: 0em; /* removes default borders of HTML elements (not to be changed) */
	-webkit-border-radius: 0px; /* sharp angles for text boxes in safari (not to be changed) */
	text-shadow: none;
}
*:not(input):not(textarea){
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.add_minus_textbox{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html{
	
}

body{
	background-color: black !important;
	font-size: 100%; /* makes default px size of elements equal to 1em (not to be changed) */
}

.ui-page{
	background-color: black !important;

}

.ui-content{
	padding: 0em;
	margin: 0em;
}

 .ui-header{
 	font-family: 'Roboto', sans-serif !important;
	text-shadow: none !important;
	font-weight: 700 !important;
	background-color: #ff8c00 !important;
    border-color: #ff8c00 !important;
 }
.menu_button{
	background-color: DarkOrange !important;
	border-color: DarkOrange !important; 
	box-shadow: none !important;
}
#bars{
	background-color: DarkOrange !important;
	border-color: DarkOrange !important;
	text-shadow: none !important;
}
#leftPanel{
	/* background-color: DarkOrange !important; */
	background-color: #ff8c00;
	box-shadow: none !important;
	opacity: 0.97;
}
#panelLinks{
	margin-top: 2.3em;
}

.panelLink{
	background-color: transparent !important;
	border-color: transparent !important;
	text-shadow: none !important;
	font-family: 'Roboto', sans-serif !important;
}
.panelLink:hover{
	background-color: orange !important;
}

.main_welcome  {
	margin-top: 20vh; /* sets welcome message distance from top of page  */
	font-family: 'Exo 2', sans-serif; /* sets welcome message font */
}

.main_welcome h1 {
	color: DarkOrange; /* sets large "MorScout" text color to DarkOrange */
	font-size: 5em; /* sets font size of large "MorScout" text */
	text-align: center; /* horizontal alignment of large "MorScout" text */
}

.main_welcome h3 {
  text-align:center; /* horizontal alignment of small "Welcome to MorScout" text */
  color: Darkorange; /* sets font color of small "Welcome to MorScout" text */
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;

} 

/* END OF WELCOME PAGE STYLES */

/* GENERAL STYLES */

.page_title {
	font-family: 'Exo 2', sans-serif; /* font of page title */
	color: DarkOrange; /* font color of page title */
	margin-top:0em; /* distance of page title from top */
	text-align: center !important; /* aligns page title to center */
}

#loadingMatches{
	width: 100%; /* width of loading message */
	position: fixed; /* position of loading message is static (not to be changed) */
	top: 45%; /* distance from top of loading message */
	text-align: center; /* horizontal alignment of loading message */
	color: DarkOrange; /* text color of loading message */
	font-family: 'Exo 2', sans-serif; /* font of loading message */
}
#loadingTeams{
	width: 100%; /* width of loading message */
	position: fixed; /* position of loading message is static (not to be changed) */
	top: 45%; /* distance from top of loading message */
	text-align: center; /* horizontal alignment of loading message */
	color: DarkOrange; /* text color of loading message */
	font-family: 'Exo 2', sans-serif; /* font of loading message */
}
#loadingSync{
	width: 100%; /* width of loading message */
	position: fixed; /* position of loading message is static (not to be changed) */
	top: 45%; /* distance from top of loading message */
	text-align: center; /* horizontal alignment of loading message */
	color: DarkOrange; /* text color of loading message */
	font-family: 'Exo 2', sans-serif; /* font of loading message */
}

.normal_text p{
	color: DarkOrange; /* color of text for writing anything which isn't of any special section */
	margin: .5em; /* margin for writing anything which isn't of any special section */
	font-size: 1.3em; /* font size for writing anything which isn't of any special section */
}
.normal_text{
	margin-top: 2em; /* distance of general writing from top of page */
}
.QApair{
	margin: 1em; /* margin of question and answer pair on help page */
	margin-bottom: 2em; /* bottom margin of question and answer pair on help page */
	border: 0.1em solid DarkOrange; /* border of question and answer pair on help page */
	max-width: 35em;
	margin-left: auto;
	margin-right: auto;

}
#help_container{
	margin: 1em;
}

.q{
	font-weight: bold;
	color: #EE7600 !important;
}

#team_search{
	margin-top: 1em;
	margin-bottom: 0;
}

.button:hover{
	background-color: #EE7600 !important; /* background color of button when hovered */
	border-color: #EE7600 !important;
	cursor: pointer; /* changes cursor to hand (not to be changed) */
}

/* END OF GENERAL STYLES */

/* TABLE STYLES */

table, th, td {
    border: 1px solid white; /* sets border width, style, and color for all table cells */
	border-collapse: collapse; /* collapses cell borders (not to be changed) */
	font-size: 1.2em; /* sets font size of text in table cells */
	text-align: center; /* horizontal alignment of text in table cells */
}

th,td {
    padding: .3em; /* padding(distance of text from borders) of table cells (not to be changed) */
}

.matches_table, .teams_table{
	color: DarkOrange; /* color of text in all matches and all teams tables */
	width: 90%; /* width of all matches table */
	margin: 1.4em auto; /* margin of all matches and all teams table */
	margin-bottom: 2em; /* distance of tables from bottom of page */
}

.teams_table{
	width: 95%;
	max-width: 22em; /* to override the width from the ^ previous styles for the all teams table */
}

.report_table{
	margin-top: 2.2em; /* top margin of report screen table */
	margin-bottom: 1em; /* bottom margin of report screen table */
	color: #CCCCCC; /* text color of report screen table */
	width: 90%; /* width of report screen table */
	margin-left: auto; /* auto aligns report screen table */
	margin-right: auto; /* auto aligns report screen table */
	height:12.3em;
	max-width: 35em;
}

.odd_row {
	background-color: #303030; /* background color of odd rows in tables */
}

.current_match{
	background-color: DarkOrange !important; /* background-color of current match row in matches table */
	color: black !important; /* text color of current match row */
	line-height: 6vh; /* height of current match row */
}

.current_match:hover {
	background-color: #EE7600; /* background color of current match row when hovered */
}

#r1, #r2, #r3{
	background-color: #B80000 ; /* background color of table cells of red teams */
}
#rh {
	background-color: #760000; /* background color of table header cell of red teams */
}
#b1, #b2, #b3{
	background-color: #0029A3; /* background color of table cells of blue teams */
}
#bh {
	background-color: #001962; /* background color of table header cell of blue teams */
}
.redTeamHighlight{
	background-color: #B80000 ;
	color: #CCCCCC;
}
.blueTeamHighlight{
	background-color: #0029A3;
	color: #CCCCCC;
}
.redTeamHeader{
	background-color: #760000;
	color: #CCCCCC;
}
.blueTeamHeader{
	background-color: #001962;
	color: #CCCCCC;
}
.hoverable_row:hover > td{
	background-color: #C0C0C0 !important;
	color: black !important; /* color of text when any row is hovered over */
	cursor: pointer !important; /* changes cursor to shape of hand when hovering over rows (not to be changed) */
}

/* END OF TABLE STYLES */


/* LOGIN PAGE STYLES */

#login_form {
	font-family: 'Open Sans', sans-serif !important; /* font for login form */
	font-weight: 300; /* font thickness for login form */
	text-align: center; /* horizontal alignment of the whole login form */
}

#login_button {
	height:2.2em; /* button height */
	width: 12.3em; /* button width */
	color: black; /* text color of button */
	text-align: center; /* horizontal alignment of text of button */
	font-size: 1.35em; /* font size of button */
	background-color: DarkOrange; /* background color of button */
	margin-top:.3em; /* top margin of button */
	font-family: 'Open Sans', sans-serif !important; /* font for login form */
}

.check {

 /* NOTICE: PLEASE DO NOT CHANGE ANY STYLES FOR THIS ELEMENT, IT WAS CAREFULLY DESIGNED TO CENTER IN THE FORM */
 
	
	color: DarkOrange; /* text color of "remember me" text */
	margin-top: .4em; /* top margin of "remember me" text */
	margin-left: auto; /* to center "remember me" text */
	margin-right: auto; /* to center "remember me" text */
	width:25.7em;
	text-align: left; /* horizontal alignment of "remember me" text */
	font-family: "Exo 2", sans-serif;
	font-size: .68em;
}

#check_box{
	height:1.2em; /* height of square check box */
	width: 1.2em; /* width of square check box */
	border:none; /* removes border of check box (not to be changed) */
}


#username{
	height:2.2em; /* height of username text box */
	width: 11.15em; /* width of username text box */
	text-align: center; /* horizontal alignment of text in username text box */
	font-size: 1.5em; /* font size of text in username text box */
	border-bottom: none; /* removes bottom border of username text box to create effect of connected text boxes (not to be changed) */
	
}

#password{
	height:2.2em; /* height of password text box */
	width: 11.15em; /* width of password text box */
	text-align: center; /* horizontal alignment of text(dots) in password text box*/
	font-size: 1.5em; /* font size of text(dots) in password text box */
}

::-webkit-input-placeholder { 
    color: rgb(229 , 148 , 0); /* color for place holder text */
	opacity:0.8; /* opacity of place holder text */
}
:-moz-placeholder {
   color: rgb(229 , 148 , 0); 
   opacity:0.8; 
}
::-moz-placeholder { 
   color: rgb(229 , 148 , 0); 
   opacity:0.8; 
}
:-ms-input-placeholder {
   color: rgb(229 , 148 , 0); 
   opacity:0.8; 
}

input:focus {
    outline-width: 0; /* removes default browser borders when text box is in focus (not to be changed) */
}

.login_wrapper{
	margin-top: 20vh; /* distance of login form from top of page (most likely not to be changed) */
	color: DarkOrange; /* color of [typed] text in username and password text boxes */
	background-color: transparent; /* background color of login form */
}

.login_wrapper input{
	border: .1em solid DarkOrange; /* border width, style, and color of text boxes and login button */
	background-color: transparent; /* background color of username and password text boxes */
}

/* END OF LOGIN PAGE STYLES */


/* REPORT SCREEN STYLES */

.report h2 {
	display: inline; /* makes "Match # - time" text display on one line (not to be changed) */
	color: DarkOrange; /* color of "Match # - time" text */
	font-family: 'Exo 2', sans-serif; /* font of "Match # - time" text */

}

.report{
	margin-top: 3em; /* distance of report screen contents from top of page */
	text-align: center; /* horizontal alignment of text in report screen */
}

#report_title{
	margin-left: 0.2em; /* left margin of title of report page */
	margin-top: 0; /* overrides .page_title class top margin to not have a huge top margin (not to be changed) */
	text-align: left; /* horizontal alignment of title of report page */
}

.report_area{
	margin: 0em; /* margin for report boxes */
	width: 100%; /* width of report boxes */
	max-width: 18em;
	height: 8.1em ; /* height of report boxes */
	font-size: 2em; /* font size of report boxes */
	background-color: #C0C0C0; /* background color of report boxes */
	padding: 0.2em; /* padding(distance of wall of box to text) of report boxes */
	margin-top: 1.45em; /* top margin of report boxes */
	margin-bottom: 0.5em; /* bottom margin for report boxes */
	color: black;
}
#team_report_area{
	width: 20em; /* width of report text box in all teams page */
	display: block; /* for centering element (not to be changed) */
	margin-left: auto; /* for centering element (not to be changed) */
	margin-right: auto; /* for centering element (not to be changed) */
	margin-bottom: 30em; /* bottom margin of report text box in all teams page  */
}
.report_area::-webkit-input-placeholder {
	 color: gray; /* place holder text color of report boxes */
	opacity:0.8; /* place holder text opacity of report boxes */
}
.report_area:-moz-placeholder {
	 color: gray; 
	opacity:0.8; 
}
.report_area::-moz-placeholder { 
	 color: gray;
	opacity:0.8;
}
.report_area:-ms-input-placeholder {
	 color: gray;
	opacity:0.8;
}
#report_instruction{
	display: block;
}
.scout_div{
	color: DarkOrange;
	text-align: left;
	margin-bottom: 3em;
	margin-top: 0 !important;
	margin-left: 1em;
	font-family: 'Exo 2', sans-serif; 
	margin-top: 3em;
	padding: 0.7em;
	width: 90%;

	/* background-color: #B0C4DE; */
}
.fixed_col_table{
	overflow-x: scroll;
	width: 55vw;
}
.scout_div p{
	margin-left: .3em;
	font-size: 1.9em !important;
}
.scout_div h3{
	margin: 0;
	margin-bottom: .2em;
	font-size: 2.7em !important;
}
.report_check{
	margin: 0.3em !important;
	font-size: 2em;	
}
#report_text{
	font-size: 2em !important;
	display: inline;
	margin: 0.3em;
	font-weight: normal;
	margin-bottom: 0.5em;

}
#report_box_small{
	margin: .3em;
	width: 2.5em;
	font-size: 1.6em; 
	padding: .1em;
	padding-top: 0;
	background-color: #333333;
	border: 1px solid DarkOrange;
	color: DarkOrange;
	font-weight: bold;
	text-align: center;
	height: 1.5em;
}
.select1 select{
	margin: .3em;
	width: 7em;
	font-size: 1.6em; 
	padding: .1em;
	background-color: #333333;
	color: DarkOrange;
	font-weight: bold;
	text-align: center;
	-webkit-appearance: none;
	border: 1px solid DarkOrange;
	padding-left: 1px;
	padding-left: .3em;
}

.select1{
	display: inline;
	overflow: hidden;
	padding-bottom: 5px;
	padding-top: 5px;
}
#updown{
	padding-right: 5px;
}
.scout_div_title{
	border-bottom: 1px solid gray;
	padding-bottom: 0.33em; 
	margin-top: 1em !important;
	font-weight: bold !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type='number'] {
    -moz-appearance:textfield;
}

label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;   
}  
input[type=checkbox] {  
    display: none;  
} 
input[type=radio] {  
    display: none;  
}  
label:before {  
    border-radius: 3px;  
} 
.radio label:before {  
    border-radius: 1em;  
}   
input[type=radio]:checked + label:before {  
	position: absolute;
    content: "\2022";  
    font-size: 1.3em;  
    color: DarkOrange;  
    text-align: center;  
    line-height: .130em; 
    bottom: 0.05em;
}  
input[type=checkbox]:checked + label:before {  
	position: absolute;
    content: "\2713";  
    font-size: 15px;  
    color: DarkOrange;  
    text-align: center;  
    line-height: 15px;
    bottom: 0.15em;    
}
label:before {  
    content: "";  
    display: inline-block;  
  
    width: 16px;  
    height: 16px;  
  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottom: .1em;  
    background-color: #5C5C5C;  
}
.selectdiv{
	width:7em;
	border:1px solid DarkOrange;
	height:1.6em;
	background:url(http://i59.tinypic.com/2uz5v0g.jpg) no-repeat right center;	
	border-radius:0;
	cursor:pointer;
	background-color: #333333;
	color: DarkOrange;
	font-size: 1.6em;
	font-family: 'Exo 2', sans-serif;
	display: inline-block;
	margin-bottom: .3em;
	}
.selectdiv:hover, .selectdiv:focus {
	width:7em;
	border:1px solid DarkOrange;
	height:1.6em;
	background: url(http://i59.tinypic.com/2uz5v0g.jpg) no-repeat right;
	border-radius:0;
	cursor:pointer;
	color: DarkOrange;
	background-color: #333333;
	font-size: 1.6em;
	}	
.selectdiv div{
	z-index:-1;
	border:0px solid #000;
	height:23px;
	overflow:hidden;
	padding:1px 0px 0px 5px;
	cursor:pointer;

	}	
.selectboxdiv{
 	height: 23px;
    left: 9.5em;
    margin-top: 0;
    position: absolute;
    width: 7em;
    z-index: 2;	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	cursor:pointer;
	}	

.button{
	font-size: 2em;
	padding-left: .2em;
	padding-right: .2em;
	margin-bottom: 1em;
	margin-top: 0.5em;
	border-radius: .2em;
	background-color: DarkOrange;
	color: black;
	font-family: 'Exo 2', sans-serif;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	border-radius: 0;
}
.button_disabled{
	font-size: 2em;
	padding-left: .2em;
	padding-right: .2em;
	margin-bottom: 1em;
	margin-top: 0.5em;
	border-radius: .2em;
	background-color: DarkOrange;
	color: black;
	font-family: 'Exo 2', sans-serif;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	border-radius: 0;
}

.add_minus_button{
	font-size: 1.8em;
	padding-left: .2em;
	padding-right: .2em;
	border-radius: .2em;
	background-color: DarkOrange;
	color: black;
	font-family: 'Exo 2', sans-serif;
	padding-top:0px;
	padding-bottom: 0px;
	width: 1.5em;
	margin: .1em;
	font-weight: bold;
	border-radius: 0;
}

.submit_match{
	text-align: right;
	margin-right: 5em;
	width: 100%;
}

#report_tabs a{
	font-size: 1.3em;
	color: DarkOrange;
	font-family: 'Exo 2', sans-serif;
}
#report_tabs a:hover{
	border-radius: 0;
	color: black;
}
#report_tabs .active a{
	font-size: 1.3em;
	color: black;
	font-family: 'Exo 2', sans-serif;
	background-color: DarkOrange;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
}
#report_tabs{
	border-bottom: solid 1px gray;
	margin-top: 3em;
}

.view_title{
	border-bottom: none;
}

#view_table{
	width: 100%;
	font-size: 1.7em !important;
	font-weight: bold;
}

.fixed_col{
	position: absolute;
	width: 12em;
	left:0;
	background-color: black;
	white-space: normal;
}
.fixed_col_table{
	margin-left: 15.8em;
	width:55vw !important;
}
.table_head {
	white-space: nowrap;
}
/* END OF REPORT SCREEN STYLES */

/* SYNC PAGE STYLES */

.sync{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 45%;
	margin: 0 auto;
}

/* END OF SYNC PAGE STYLES */

/* SETTINGS SCREEN STYLES */

.settings_option{
	margin-top: 0em; /* top margin of each settings option */
	margin-bottom: 3em; /* bottom margin of each settings option */
	color: DarkOrange; /* color of text in settings */
	font-family: 'Exo 2', sans-serif !important; /* font of text in settings */
	display: block; /* to make elements appear on new line (not to be changed) */
	text-align: center; /* horizontal alignment of each setting in its respective column */
	margin-left: -1.2vw; /* to move the settings to the left (not to be changed) */
}
.settings_box::-webkit-input-placeholder { 
    color: gray; /* color of place holder text in settings text boxes */
	opacity:0.8; /* opacity of place holder text in settings text boxes */
	font-weight: bold; /* weight of place holder text in settings text boxes */
}
.settings_box:-moz-placeholder {
   color: gray; 
   opacity:0.8; 
   font-weight: bold; 
}
.settings_box::-moz-placeholder { 
   color: gray; 
   opacity:0.8;
   font-weight: bold;
}
.settings_box:-ms-input-placeholder {
   color: gray;
   opacity:0.8;
   font-weight: bold;
}

.settings_list > .text_input{
	color: black; /* color of [typed] text in text boxes */
	width: 9.5em; /* width of text box */
	height: 2em; /* height of text box */
	margin-top: .5em; /* top margin of text box */
	font-size: 1.3em; /* font size of text in text box */
	font-weight: bold; /* font weight of text in text box */
	background-color: #C0C0C0; /* background color of text box */
	padding: .2em; /* padding(distance of border of text box to text) of text box */
	font-family: 'Exo 2', sans-serif !important; /* font of text in settings */
}

.text_input{
	color: black; /* color of [typed] text in text boxes */
	width: 14em; /* width of text box */
	height: 2em; /* height of text box */
	margin-top: .5em; /* top margin of text box */
	font-size: 1.3em; /* font size of text in text box */
	font-weight: bold; /* font weight of text in text box */
	background-color: #C0C0C0; /* background color of text box */
	padding: .2em; /* padding(distance of border of text box to text) of text box */
	font-family: 'Exo 2', sans-serif !important; /* font of text in settings */
}

.settings_list > .button_input{
	color: black; /* color of text in button */
	width: 4em; /* width of button */
	height: 2em; /* height of button */
	margin-top: .5em; /* top margin of button */
	font-size: 1.3em; /* font size of button */
	font-weight: bold; /* font weight of button */
	background-color: gray; /* background color of button */
	font-family: 'Exo 2', sans-serif !important; /* font of text in settings */
}

.button_hovered{
	background-color: #EE7600 !important; /* background color of button when hovered */
	cursor: pointer; /* changes cursor to hand (not to be changed) */
}

.report_table td:hover{
	background-color: #C0C0C0 !important; /* background color of hovered table cell in report table */
	cursor: pointer; /* changes cursor to hand (not to be changed) */
	color: black; /* text color of hovered table cell in report table */
}
.button_selected_report{
	background-color: white !important; /* background color of hovered table cell in report table */
	cursor: pointer; /* changes cursor to hand (not to be changed) */
	color: black; /* text color of hovered table cell in report table */
}

#settings_grid{
margin-top: 2em; /* distance of grid of settings from top of page */
}

/* END OF SETTINGS SCREEN STYLES */

/* FEEDBACK PAGE STYLES */

#feedback_form{
	margin: .5em;
	font-size: .8em !important;
}

#feedback_name{
	font-size: 2em;
	font-family: 'Exo 2', sans-serif;
	padding: 3px;
	background-color: #c0c0c0;
	color: black;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	max-width: 14em;
	width: 75%;
}

#feedback_name::-webkit-input-placeholder { 
    color: gray; /* color of place holder text in settings text boxes */
	opacity:0.8; /* opacity of place holder text in settings text boxes */
	font-weight: bold; /* weight of place holder text in settings text boxes */
}
#feedback_name:-moz-placeholder {
   color: gray; 
   opacity:0.8; 
   font-weight: bold; 
}
#feedback_name::-moz-placeholder { 
   color: gray; 
   opacity:0.8;
   font-weight: bold;
}
#feedback_name:-ms-input-placeholder {
   color: gray;
   opacity:0.8;
   font-weight: bold;
}

#feedback_box{
	font-size: 3em;
	font-family: 'Exo 2', sans-serif;
	padding: 3px;
	background-color: #c0c0c0;
	color: black;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	max-width: 18em;
	height:7em;
	width:95%;
}

#feedback_box::-webkit-input-placeholder { 
    color: gray; /* color of place holder text in settings text boxes */
	opacity:0.8; /* opacity of place holder text in settings text boxes */
	font-weight: bold; /* weight of place holder text in settings text boxes */
}
#feedback_box:-moz-placeholder {
   color: gray; 
   opacity:0.8; 
   font-weight: bold; 
}
#feedback_box::-moz-placeholder { 
   color: gray; 
   opacity:0.8;
   font-weight: bold;
}
#feedback_box:-ms-input-placeholder {
   color: gray;
   opacity:0.8;
   font-weight: bold;
}

/* END OF FEEDBACK PAGE STYLES */

/* STYLES FOR SMALLER SCREENS */

@media screen and (max-width: 420px){
	.main_welcome h1 {
		font-size: 19vw; /* scaling font size for "MorScout" text */
	}
	.main_welcome h3 {
		font-size: 6vw; /* scaling font size for "Welcome to MorScout" text */
	} 
	#report_title{
		text-align: center; /* horizontal alignment of title of report page */
	}
	#team_report_area{
		width: 90%; /* scaling width for report box in all teams page */
	}

}
/*
@media screen and (max-width: 623px){
	
	.matches_table{
		font-size: 2vw !important; /* scaling font size for text in all matches table
		line-height: 4vh; /* larger scaling line height for text in all matches table for easier match selecting on small screens 
	}
*/
}
@media screen and (max-width: 991px){
	.scout_div{
		margin-bottom: 0 !important;
	}
}
@media screen and (max-width: 767px){
	.current_page{
		position: absolute !important;
		left: 0 !important; 
		right: 0 !important; 
		width: 100% !important; 
		text-align: center !important; 
		pointer-events: none !important; 
		cursor: default !important;
	}
}

@media screen and (max-width: 456px){
	.teams_table{
		width: 90% !important; /* scaling width for all teams table */
	}
	.scout_div{
		font-size: 2.5vw;
	}
	label:before{
		width: 5vw;
		height: 5vw;
	}
	input[type=checkbox]:checked + label:before {  
	    content: "\2713";  
	    font-size: 5vw;  
	    color: DarkOrange;  
	    text-align: center;
	    line-height: 4.5vw;    
	}
	input[type=radio]:checked + label:before {    
	    line-height: 2vw; 
	    font-size: 2.3em;     
	}
	.report_area{
		width: 94%; /* width of report boxes */
	}
	.submit_match{
		text-align: right;
		margin-right: 5em;
		width: 94%;
	}
	.report_radio_check{
		padding-left:1.3em !important;
	}
}

@media only screen (height: 736px) and (width: 414px) {
	/* insert here css styles that apply to iPhone 6 plus */
}

@media screen and (max-width: 1199px){
	.QApair{
		
	}
}	
/* END OF STYLES FOR SMALLER SCREENS */	

