.hidden {
    display: none
}

*{
	margin: 0px;
	padding:0px;
}

body {
    background-color: black;
}

.nav .container {
  width: 100%;
  background-color: orange;
  opacity: 0.9;
  padding: 3px;
  font-family: 'Roboto', sans-serif;
  position: fixed;
}
.check {
	font-size: 17px;
	color: orange;
}

.nav a {
  color: black;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.main {
	/*margin-left: 15px;*/
	margin-right: 0 auto;
	margin-top: 120px;
	font-family: 'Exo 2', sans-serif;
}

.main input {
	font-weight: bold;
}

.main h1 {
	color: orange;
	font-size: 80px;
	text-align: center;
}

.firstbar {
	font-family: 'Exo 2', sans-serif;
	color: orange;
	text-align: center;
	margin-top: 30px;
}

#myForm {
	text-align:center;
}

#username-box {
	margin:5px;
	margin-top:25%;
}
#password-box {
	margin:5px;
}
#login_button {
	height:42px;
	width: 246px;
	text-align: center;
	font-size: 22px;
}

#username{
	height:42px;
	width:70%;
	text-align: center;
	font-size: 22px;
	
}

#password{
	height:42px;
	width:70%;
	text-align: center;
	font-size: 22px;
}

 #welcomemessage {
  text-align:center;
  color: orange;
} 




